
.DS_Store
docs/labs/lab1/.ipynb_checkpoints/scc2425-lab1-checkpoint.ipynb

/.vscode/
/.vscode

# Configs do IntelIJ
scc2425-tukano/.idea

# binarios
scc2425-tukano/target

/.vscode
/.vscode
/scc2425-tukano/.settings
